{% extends 'base.html' %}

{% block title %}
Seite 4 von 4
{% endblock %}

{% block content %}
<form method="POST">
    <table class="pure-table items-table" id="bfi10-items-table">
        <thead>
            <tr>
                <th></th>
                <th>Beschreibt mich überhaupt nicht</th>
                <th>Beschreibt mich eher nicht</th>
                <th>Weder noch</th>
                <th>Beschreibt mich eher</th>
                <th>Beschreibt mich sehr gut</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.text }}</td>
                <td><input name="{{ item.label }}" type="radio" value="0" {{ item.required }}></td>
                <td><input name="{{ item.label }}" type="radio" value="1" {{ item.required }}></td>
                <td><input name="{{ item.label }}" type="radio" value="2" {{ item.required }}></td>
                <td><input name="{{ item.label }}" type="radio" value="3" {{ item.required }}></td>
                <td><input name="{{ item.label }}" type="radio" value="4" {{ item.required }}></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="pure-button" type="submit" value="submit">
        Submit
    </button>
</form>
{% endblock %}





